header {
  background-color: var(--color-primary);
  height: 60px;
  display: flex;
  align-items: center;
}

.devmovie-nav-content {
  display: flex ;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.devmovie-nav-content h1 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.devmovie-contact-container{
  display: flex ;
  align-items: center;
}

.devmovie-contact-link {
  margin: 0 0 0 10px;
}